/*
#
# Styl kolorystyczny "Black" dla skryptu MiniS CMS 
# Autor: M. Kucharskov
# Korekta: Gosia Turek
# 
*/

/* --Odnoœniki-- */
a {
	color: #ACACAC;
	text-decoration: none;
} 

a:link {
	color: #ACACAC;
	text-decoration: none;
}

a:visited {
	color: #ACACAC;
	text-decoration: none;
}

a:hover {
	color: #8F8F8F;
	text-decoration: none;
}

a:active {
	color: #B1B1B1;
	text-decoration: none;
}

body {
	color: #FFFFFF;
	background-color: #111111;
	background-image: url('../img/bg_black.png');
	background-repeat: repeat-x;
}

/* --Stylizowane elementy tekstowe-- */
p.header {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

ul, ul li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.menu_poziome {
	text-align: center;
	border-bottom: 1px solid #888;
	padding-bottom: 5px;
}

ul li {
	display: inline;
	white-space: nowrap;
	margin-right: 5px;
}

ul a:link, ul a:visited {
	text-decoration: none;
	background-color: #5f5f5f;
	color: #000;
	border: 1px solid #888;
	padding: 5px;
}

ul a:hover {
	background-color: #888;
	border-bottom-color: #fff;
}

/* --DIV'y-- */
#kontener {
	border: 3px solid;
	border-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	behaviour: url('../js/border-radius.htc');
	-moz-box-shadow: 0px 0px 25px #111;
	-webkit-box-shadow: 0px 0px 25px #111;
	box-shadow: 0px 0px 25px #111;
	background-color: #000000;	
}

#header {

}

#panel_lewo {

}

#panel_prawo {

}

#panel_poziomo {

}

#bodytext {
	width: 540px;
	min-height: 450px;
	margin: 0 auto;
	padding: 10px;
	float: left;
	overflow: hidden;
	text-align: justify;
}

#footer {

}