/*
#
# Styl układu dla skryptu MiniS CMS 
# M. Kucharskov & MiniS Team
# 
# Niektóre opcje układu znajdują się w stylach kolorystycznych!
*/

body {
	margin: 0;
	padding: 0;
}

#top {
	width: 1004px;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
}

#header {
	text-align: center;
}

#lmenu{
	width: 180px;
	float: left;
	overflow: hidden;
	margin-right: 11px;
}

#body {
	width: 800px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	float: left;
	overflow: hidden;
	padding: 3px;
}

#body_long {
	width: 1004px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	float: left;
	overflow: hidden;
}

#footer {
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	clear: both;
	width: 100%;
}

.header {
    height: 45px;
    padding-top: 23px;
	margin-top: 0px;
	margin-bottom: 5px;
}

.box_lmenu {
	padding-bottom: 10px;
	margin-bottom: 10px;
	padding: 3px;
}

/* --CBA.pl footer OFF-- */
.cbalink {
	display: none;
}