/*
#
# Styl kolorystyczny dla skryptu MiniS CMS 
# M. Kucharskov & MiniS Team
# 
*/

body {
	color: #BBBBBB;
	background-color: #444444;
	background-image: url("../../images/background.png");
	font-size: 15px;
	font-family: Arial;
}

/* --Odnoœniki-- */
a {
	color: #EEEEEE;
	text-decoration: none;
} 

a:link {
	color: #EEEEEE;
	text-decoration: none;
}

a:visited {
	color: #EEEEEE;
	text-decoration: none;
}

a:hover {
	color: #AAAAAA;
	text-decoration: none;
}

a:active {
	color: #DDDDDD;
	text-decoration: none;
}

/* --Stylizowane elementy tekstowe-- */
.header {
	background-image: url("../../images/header_blue.png");
	border-bottom: 1px dashed #000000;
	text-transform: uppercase;
	text-align: center;
	font-family: Verdana;
	font-weight: bold;
	font-size: 13px;
	color: #CBCBCB;
}

.box_lmenu {
	background-color: #333333;
	border: 1px solid #1D1D1D;
    border-radius: 0px 0px 7px 7px;
	text-align: left;
}

.box_lmenu ul {
	padding-left: 15px;
	margin: 3px;
}

.menu_poziome a:hover {
	text-shadow: 0px 0px 5px black;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	transition: all .3s linear;
	text-decoration: none;
	color: #FFFFFF;
}

.menu_poziome a, .menu_poziome a.unhover {
	text-shadow: 0px 0px 0px #FFFFFF;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	transition: all .3s linear;
	text-decoration: none;
	color: #FFFFFF;
}

/* --CSS MENU- */
#cssmenu{ height:37px; display:block; padding:0; margin:20px auto;  border:1px solid; border-radius:5px; } 
#cssmenu > ul {list-style:inside none; padding:0; margin:0;} 
#cssmenu > ul > li {list-style:inside none; padding:0; margin:0; float:left; display:block; position:relative;} 
#cssmenu > ul > li > a{ outline:none; display:block; position:relative; padding:12px 20px; font:bold 13px/100% Arial, Helvetica, sans-serif; text-align:center; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.4); } 
#cssmenu > ul > li:first-child > a{border-radius:5px 0 0 5px;} 
#cssmenu > ul > li > a:after{ content:''; position:absolute; border-right:1px solid; top:-1px; bottom:-1px; right:-2px; z-index:99; } 
#cssmenu ul li.has-sub:hover > a:after{top:0; bottom:0;} 
#cssmenu > ul > li.has-sub > a:before{ content:''; position:absolute; top:18px; right:6px; border:5px solid transparent; border-top:5px solid #fff; } 
#cssmenu > ul > li.has-sub:hover > a:before{top:19px;} 
#cssmenu ul li.has-sub:hover > a{ background:#3f3f3f; border-color:#3f3f3f; padding-bottom:13px; padding-top:13px; top:-1px; z-index:999; } 
#cssmenu ul li.has-sub:hover > ul, #cssmenu ul li.has-sub:hover > div{display:block;} 
#cssmenu ul li.has-sub > a:hover{background:#3f3f3f; border-color:#3f3f3f;} 
#cssmenu ul li > ul, #cssmenu ul li > div{ display:none; width:auto; position:absolute; top:38px; padding:10px 0; background:#3f3f3f; border-radius:0 0 5px 5px; z-index:999; } 
#cssmenu ul li > ul{width:200px;} 
#cssmenu ul li > ul li{display:block; list-style:inside none; padding:0; margin:0; position:relative;} 
#cssmenu ul li > ul li a{ outline:none; display:block; position:relative; margin:0; padding:8px 20px; font:10pt Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.5); } 

#cssmenu, #cssmenu > ul > li > ul > li a:hover{ background:#233ae5; background:-moz-linear-gradient(top, #233ae5 0%, #213c96 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#233ae5), color-stop(100%,#213c96)); background:-webkit-linear-gradient(top,  #233ae5 0%,#213c96 100%); background:-o-linear-gradient(top,  #233ae5 0%,#213c96 100%); background:-ms-linear-gradient(top,  #233ae5 0%,#213c96 100%); background:linear-gradient(top,  #233ae5 0%,#213c96 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#233ae5', endColorstr='#213c96',GradientType=0 ); } 
#cssmenu{border-color:#060b73;} 
#cssmenu > ul > li > a{border-right:1px solid #060b73; color:#fff;} 
#cssmenu > ul > li > a:after{border-color:#2450f2;} 
#cssmenu > ul > li > a:hover{background:#0829a2;} 

/* --DIV'y-- */
#body {
	background-color: #333333;
	min-height: 500px;
	border: 1px solid #1D1D1D;
    border-radius: 0px 0px 7px 7px;
	text-align: left;
}

#body_long {
	background-color: #333333;
	min-height: 500px;
	border: 1px solid #1D1D1D;
    border-radius: 0px 0px 7px 7px;
	text-align: left;
}

#top {
	background-color: #444444;
	box-shadow: 1px 1px 5px #000000;
	border-radius: 5px;
}

#footer {
	background-image: url("../../images/header_blue.png");
	background-color: #333333;
	border: 1px solid #1D1D1D;
    border-radius: 7px 7px 7px 7px;
	text-align: center;
	font-family: Verdana;
	font-weight: bold;
	font-size: 11px;
	color: #CBCBCB;
}